@inherits LayoutComponentBase

<div class="page">
    <header class="top-nav">
        <a href="" class="nav-brand">RotoDex.Web</a>
        <a href="" class="nav-link">Inspector</a>
        <a href="boxes" class="nav-link">PC Boxes</a>
        <a href="teambuilder" class="nav-link">Team Builder</a>
        <a href="events" class="nav-link">Events</a>
        <a href="vault" class="nav-link">Vault</a>
        <a href="analyzer" class="nav-link">Analyzer</a>
        <a href="about" class="nav-link">About</a>
    </header>

    <main class="layout-container">
        @Body
    </main>
</div>
